* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #1abc9c;
    margin-bottom: 10px;
}

div {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

span {
    font-weight: bold;
    color: #34495e;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: #3498db;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

/* Estilos del footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    color: #2980b9;
}